/*
rood roze : #FF004D
grijs standaard : #ADB4BE
licht grijs   :#C8CCD2
Donker grijs   :#5E6877
blauw : #00A3E8;
*/

/**/
#collection-info
{
  display:none;
}

/* primary menu */



.large .primary-navigation nav
{
  text-align:center !important;
  margin-top: 54px;
}
.primary-navigation nav ul li{
  display:block !important;
  width:auto;
  margin:0px auto;
  letter-spacing:0.1em;
  font-family: "Archery", Arial, Helvetica, sans-serif;
  cursor:pointer;
}
.large .primary-navigation nav ul li{
  width:160px;
}
.primary-navigation nav ul li a {
  display:block;
  text-align:left;
  padding:3px 5px;
  font-size:1.6em;
  color: #ADB4BE;
  text-decoration:none;
}
.primary-navigation nav ul li a:hover,
.primary-navigation nav ul li.current-menu-item a,
.primary-navigation nav ul li.current_page_item a
{
  color: #FF004D;
}



.medium .primary-navigation,
.small .primary-navigation
{
  position:absolute;
  top:2vh;
  right:2vh;
  z-index:999;
}
.small .primary-navigation nav ul li
{
  width:auto;
}
.small .primary-navigation nav ul li a
{
  font-size:1.2em;
}



/* collections overview typemenu */
#typemenu
{
  position:relative;
}
.large #typemenu
{
  height:120px;
  padding-top:80px;
}
#typemenu ul
{
  display:flex;
  list-style:none;
  flex-direction: row;
}
.small #typemenu,
.medium #typemenu
{
  max-width:640px;
  margin:0px auto;
}
.small #typemenu ul,
.medium #typemenu ul
{
  justify-content: center;
}

#typemenu ul li.notavailable
{
  opacity:0.2;
}
#typemenu ul li.available
{
  cursor:pointer;
}


.medium #typemenu,
.small #typemenu
{
  padding-top:0px;
}

.small #display-toggle a,
.small #typemenu ul li
{
  width:36px;
  height:36px;
  background-size:cover;
  margin:0;
}

.medium #typemenu ul li
{
  background-size:cover;
  margin:0;
}

#typemenu .menuinfo
{
  color:#ADB4BE; /* #5E6877;*/
  font-family: "Archery", Arial, Helvetica, sans-serif;
}

#typemenu .menuinfo span
{
}
.large #typemenu .menuinfo
{
  margin-top:46px;
  font-size:1.2em;
  color:#ADB4BE; /* #5E6877;*/
}

.small #typemenu .menuinfo,
.medium #typemenu .menuinfo
{
  margin-top:21px;
  margin-bottom:-40px;
  font-size:1em;
  min-height:30px;
}

#helpinfo
{
  color:#ADB4BE; /* #5E6877;*/
  font-family: "Archery", Arial, Helvetica, sans-serif;
  font-size:1.6em;
  position:absolute;
  right:26px;
  margin-top:-6px;
  cursor:pointer;
}

.small #helpinfo
{
  font-size:1em;
}

#infoboxcontainer #helpcontent
{
  padding:30px;
  font-family: "Montserrat-semibold", Arial, Helvetica, sans-serif;
}
#infoboxcontainer #helpcontent h3
{
  font-size:1em;
}
#infoboxcontainer #helpcontent p
{
  padding:10px 0px;
}

#show-recent
{
  color:#ADB4BE; /* #5E6877;*/
  font-family: "Archery", Arial, Helvetica, sans-serif;
  font-size:1.6em;
  position:absolute;
  top:-21px;
  left:20px;
  cursor:pointer;
}
#show-recent:hover
{
  color: #01A2E6;
}

.small #show-recent
{
  color:#ADB4BE; /* #5E6877;*/
  font-family: "Archery", Arial, Helvetica, sans-serif;
  font-size:1em;
  position:absolute;
  top:-131px;
  left:20px;
}


#infoboxcontainer.intro .outermargin video
{

}
#infoboxcontainer.intro .outermargin .skippintro
{
  text-align:center;
}
#infoboxcontainer.intro .outermargin .skippintro span
{
  display:block;
  padding:15px;
  font-family: "Montserrat-semibold", Arial, Helvetica, sans-serif;
  font-size:1em;
  cursor:pointer;
}
#infoboxcontainer.intro .outermargin .skippintro:hover span
{
  color:#00A3E8;
}

.closeoverlay,
.closeinfobox,
.closeintrobox
{
  position:absolute;
  right:0px;
  top:-30px;
  height:64px;
  width:64px;
  z-index:90;
  background-color: transparent;
  background-image:url('../icons/menu_open.png');
  cursor:pointer;
}
.small .closeoverlay,
.small .closeinfobox,
.small .closeintrobox
{
  right:10px;
  top:-36px;
  height:36px;
  width:36px;
  background-size: cover;
}

.large .closeoverlay,
.large .closeinfobox,
.large .closeintrobox
{
  right:0px;
  top:0px;
  height:64px;
  width:64px;
}

/* icon buttons overall */
.icon-button,
.media-icon
{
    position: relative;
    width:64px;
    height:64px;
    font-family: "Archery", Arial, Helvetica, sans-serif;
    background-position: center;

}

.small .icon-button,
.medium .media-icon
{
  width:48px;
  height:48px;
  /*transform: scale(0.9) !important; /* (150% zoom) */
}

.icon-button span,
.media-icon span
{
  display:none;
}
.icon-button:hover span,
.icon-button.selected span,

.media-icon:hover span,
.media-icon.selected span,
.column .media-icon span
{
  position:absolute;
  display:block;
  left:0px;
  bottom:-20px;
  width:100%;
  text-align:center;
  color:#ADB4BE;
  font-size: 16px;
  letter-spacing:0.1em;
}
.icon-button.selected span,
.icon-button.selected:hover span,
.media-icon.selected span,
.media-icon.selected:hover span,
.column .media-icon:hover span,
.column .media-icon.selected span,
.column .media-icon.selected:hover span
{
  color:#FF004D;
}

#loopcontainer.grid-view .post-artifact .item-icons .icon-button span,
.post-artifact .overlay .entry-title a,
.post-artifact .overlay .item-excerpt,
.column .media-icon span
{
  color: #ffffff;
}
/* base icon buttons */
.but-foto
{
  background-image:url('../icons/menu_icon_grey_foto.png');
}
.but-audio
{
  background-image:url('../icons/menu_icon_grey_audio.png');
}
.but-gedicht
{
  background-image:url('../icons/menu_icon_grey_gedicht.png');
}
.but-sculptuur
{
  background-image:url('../icons/menu_icon_grey_sculptuur.png');
}
.but-video
{
  background-image:url('../icons/menu_icon_grey_video.png');
}
.but-schilderij
{
  background-image:url('../icons/menu_icon_grey_schilderij.png');
}
.but-verhaal
{
  background-image:url('../icons/menu_icon_grey_geschrift.png');
}
.but-pers
{
  background-image:url('../icons/menu_icon_grey_newspaper.png');
}
.but-overige
{
  background-image:url('../icons/menu_icon_grey_overig.png');
}

/* typemenu icon buttons */
#typemenu .icon-button.available:hover{
  background-color:#ADB4BE;
}

#typemenu .icon-button.available.selected,
#typemenu .icon-button.available.selected:hover,
.column .media-icon:hover,
.column .media-icon.selected {
  background-color:#FF004D;
}



#typemenu .but-foto.available:hover,
#typemenu .but-foto.available.selected,
#loopcontainer.grid-view .post-artifact .item-icons .but-foto,
.column .media-icon.but-foto
{
  background-image:url('../icons/menu_icon_white_foto.png');
}
#typemenu .but-audio.available:hover,
#typemenu .but-audio.available.selected,
#loopcontainer.grid-view .post-artifact .item-icons .but-audio,
.column .media-icon.but-audio
{
  background-image:url('../icons/menu_icon_white_audio.png');
}
#typemenu .but-gedicht.available:hover,
#typemenu .but-gedicht.available.selected,
#loopcontainer.grid-view .post-artifact .item-icons .but-gedicht,
.column .media-icon.but-gedicht
{
  background-image:url('../icons/menu_icon_white_gedicht.png');
}
#typemenu .but-sculptuur.available:hover,
#typemenu .but-sculptuur.available.selected,
#loopcontainer.grid-view .post-artifact .item-icons .but-sculptuur,
.column .media-icon.but-sculptuur
{
  background-image:url('../icons/menu_icon_white_sculptuur.png');
}
#typemenu .but-video.available:hover,
#typemenu .but-video.available.selected,
#loopcontainer.grid-view .post-artifact .item-icons .but-video,
.column .media-icon.but-video
{
  background-image:url('../icons/menu_icon_white_video.png');
}
#typemenu .but-schilderij.available:hover,
#typemenu .but-schilderij.available.selected,
#loopcontainer.grid-view .post-artifact .item-icons .but-schilderij,
.column .media-icon.but-schilderij
{
  background-image:url('../icons/menu_icon_white_schilderij.png');
}
#typemenu .but-verhaal.available:hover,
#typemenu .but-verhaal.available.selected,
#loopcontainer.grid-view .post-artifact .item-icons .but-verhaal,
.column .media-icon.but-verhaal
{
  background-image:url('../icons/menu_icon_white_geschrift.png');
}
#typemenu .but-pers.available:hover,
#typemenu .but-pers.available.selected,
#loopcontainer.grid-view .post-artifact .item-icons .but-pers,
.column .media-icon.but-pers
{
  background-image:url('../icons/menu_icon_white_newspaper.png');
}
#typemenu .but-overige.available:hover,
#typemenu .but-overige.available.selected,
#loopcontainer.grid-view .post-artifact .item-icons .but-overige,
.column .media-icon.but-overige
{
  background-image:url('../icons/menu_icon_white_overig.png');
}


/* toggle grid / list */
#display-toggle
{
  position:absolute;
  top:-36px;
  right:12px;
  z-index:99;
}
#display-toggle a
{
  width:48px;
  height:48px;
  cursor:pointer;
}
.grid-view #display-toggle a.list
{
  display:block;
  background-image:url('../icons/menu_icon_list_grey.png');
  background-size:cover;
}
.list-view #display-toggle a.grid
{
  display:block;
  background-image:url('../icons/menu_icon_grid_grey.png');
  background-size:cover;
}
#display-toggle a span
{
  display:none;
}
#display-toggle a:hover span{
  display:block;
  position:absolute;
  top:-16px;
  right:8px;
  font-size:1em;
  color: #ADB4BE;
  font-family: "Archery", Arial, Helvetica, sans-serif;
}

.grid-view a.grid
{
  display:none;
}
.list-view a.list
{
  display:none;
}


#display-options
{
  position:absolute;
  top:-29px;
  right:100px;
  z-index:99;
  display: inline-flex;
  flex-wrap: wrap;
}
#display-options ul
{
  display:block;
  list-style:none;
  margin:0;
}
#display-options span,
#display-options ul li
{
  padding:6px 8px;
  font-size:1.3em;
  color: #ADB4BE;
  min-width:80px;
  background-color:#ffffff;
  font-family: "Archery", Arial, Helvetica, sans-serif;
}

#display-options ul.orderby li,
#display-options ul.order li
{
  cursor:pointer;
}

#display-options span
{
  display:inline-block;
  height:32px;
}

#display-options ul li.selected
{
  color: #C8CCD2;
}

#display-options ul li:hover,
#display-options ul li.selected:hover
{
  color: #5E6877;
}

#display-options ul.orderby li:not(.selected),
#display-options ul.order li:not(.selected)
{
  display:none;
}
#display-options ul.orderby:hover li:not(.selected),
#display-options ul.order:hover li:not(.selected)
{
  display:block;
}





#loopcontainer
{
}
.small #main,
.medium #main
{
  margin-top:50px;
}

/* items grid */
#loopcontainer.grid-view .post-artifact
{
  -webkit-box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.56);
  box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.56);
}
#loopcontainer.grid-view .post-artifact img
{
  transition: transform .5s ease;
}
#loopcontainer.grid-view .post-artifact.hover img
{
  cursor:pointer;
  transform: scale(1.5) !important; /* (150% zoom) */
}

/* item icon buttons */
#loopcontainer.grid-view .item-icons
{
  min-height:80px;
}
#loopcontainer.grid-view .item-icons ul
{
  padding:0 !important;
}
#loopcontainer.grid-view .item-icons ul li
{
  display:inline-block;
  padding:5px;
  list-style-type: none;
  background-size:cover;
  width:56px;
  height:56px;
  cursor: pointer;
  /* filter: brightness(0) invert(1); */
}
#loopcontainer.grid-view .item-icons ul li:hover,
#loopcontainer.grid-view .item-icons ul li.selected
{
  filter:none;
}

#loopcontainer.grid-view .post-artifact .item-icons .but-foto
{

}

.medium #loopcontainer.grid-view .post-artifact .overlay .entry-title,
.small #loopcontainer.grid-view .post-artifact .overlay .entry-title
{
  font-size:0.8em !important;
}
.medium #loopcontainer.grid-view .item-icons ul li,
.small #loopcontainer.grid-view .item-icons ul li
{
  display:inline-block;
  padding:2px;
  list-style-type: none;
  background-size:cover;
  width:36px;
  height:36px;
  margin-bottom:10px;
  cursor:pointer;
  /* filter: brightness(0) invert(1); */
}
.medium #loopcontainer.grid-view .item-icons ul li span,
.small #loopcontainer.grid-view .item-icons ul li span
{
  font-size:0.8em;
  bottom:-10px;
}
.medium #loopcontainer.grid-view .post-artifact .overlay .item-excerpt,
.small #loopcontainer.grid-view .post-artifact .overlay .item-excerpt
{
  display:none;
}
.medium #loopcontainer.grid-view .post-artifact .overlay,
.small #loopcontainer.grid-view .post-artifact .overlay
{
  padding:5px;
}


/* items list */
#loopcontainer.list-view
{
  padding-top:15px;
}
#loopcontainer.list-view .post-artifact
{
  position: relative;
  display:block;
  width: 100%;
  margin-bottom:15px;
  clear:both;
}
#loopcontainer.list-view .post-artifact .innerpadding
{
  position:relative;
  display: flex;
  min-height:160px;
  padding:2vh;
  margin:2px 2px;
  max-width:640px;
  margin:0px auto;
  border:3px solid #C8CCD2;
  background-color:#ffffff;
}
#loopcontainer.list-view .post-artifact .artifact-image
{
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  height:14vh;
  width:14vw;
  flex:2;
  text-align: center;
  margin-right:2vh;
  overflow:hidden;
}
#loopcontainer.list-view .post-artifact img.wp-post-image
{
  height:100%;
  width::auto;
}

#loopcontainer.list-view .post-artifact.landscape img.wp-post-image,
#loopcontainer.list-view .post-artifact.panorama img.wp-post-image
{
  width:100%;
  height:auto;
}

#loopcontainer.list-view .post-artifact .overlay
{
flex:4;
}
#loopcontainer.list-view .post-artifact .overlay .item-icons
{
}
#loopcontainer.list-view .post-artifact .overlay h2.entry-title a,
.entry-header a
{
  color: #000000; /* #00A3E8; */
}
#loopcontainer.list-view .post-artifact .overlay .item-excerpt
{
  color:#000000;
}
#loopcontainer.list-view .item-icons ul
{
height:56px;
/* transform: scale(0.7); */
}
#loopcontainer.list-view .item-icons ul li
{
  display:inline-block;
  padding:5px;
  list-style-type: none;
  background-size:cover;
  width:36px;
  height:36px;
  cursor:pointer;
}

#loopcontainer.list-view .item-icons ul li:hover,
#loopcontainer.list-view .item-icons ul li.selected
{
}


/* popcontainer */
#overlaycontainer .popcontainer
{
  position:relative;
}
#overlaycontainer .popcontainer .contentbox
{
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
}


#overlaycontainer .popcontainer .mediabox
{
  min-height:80vh;
  background-color: #ffffff;
  max-width:960px;
  min-width:320px;
  width:100%;
  margin:0px auto;
}


#overlaycontainer .popcontainer .mediabox .mediacontainer
{
  position:relative;
  width:100%;
  min-height:80vh;
  /* border-top:3px solid #ADB4BE; */
}

#overlaycontainer .popcontainer .contentbox .title
{
  padding: 2vh;
  /* border-top:3px solid #ADB4BE; /* #00A3E8;*/
  background:url('../icons/minus_icon_grey.png') center right no-repeat #ffffff;
}
#overlaycontainer .popcontainer .contentbox .title:hover
{
  background:url('../icons/minus_icon_blue.png') center right no-repeat #ffffff;
}
#overlaycontainer .popcontainer .contentbox .title.closed
{
  background:url('../icons/arrow_icon_up_grey.png') center right no-repeat #ffffff;
}
#overlaycontainer .popcontainer .contentbox .title.closed:hover
{
  background:url('../icons/arrow_icon_up_blue.png') center right no-repeat #ffffff;
}

#overlaycontainer .popcontainer .innerpadding .infotext
{
  display:block;
  width:40%;
  min-height:10vh;
}

#overlaycontainer .popcontainer .contentbox .innerpadding
{

}

#overlaycontainer .popcontainer .contentbox .innerpadding .column
{
  margin:0.33%;
  background-color:#ADB4BE;
  max-height:64px;
}
#overlaycontainer .popcontainer .contentbox .innerpadding .column .media-icon
{
    position: relative;
}

.mediaholder img,
.mediaholder iframe,
.mediaholder video,
.mediabox .cover img,
#loopcontainer.list-view .post-artifact .innerpadding
{
  -webkit-box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.56);
  box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.56);
}
#overlaycontainer .popcontainer .mediabox .mediaholder .caption
{
  padding:15px 0px;
  font-family: "Montserrat-semibold", Arial, Helvetica, sans-serif;
  font-size:0.8em;
}


/* small/medium*/
#overlaycontainer .popcontainer .mediabox .mediaholder
{
  position:relative;
  width:100% !important;
  text-align:center;
}
#overlaycontainer .popcontainer .mediabox .mediaholder img,
#overlaycontainer .popcontainer .mediabox .mediaholder iframe,
#overlaycontainer .popcontainer .mediabox .mediaholder video
{
  max-width:100%;
}
#overlaycontainer .popcontainer .mediabox .mediaholder iframe
{
}
#overlaycontainer .popcontainer .mediabox .mediaholder img
{
}
#overlaycontainer .popcontainer .mediabox .mediaholder img.landscape
{
}
#overlaycontainer .popcontainer .mediabox .mediaholder img.portrait,
#overlaycontainer .popcontainer .mediabox .mediaholder img.square
{
}



.large #overlaycontainer .popcontainer .mediabox .mediaholder
{
  position:relative;
  width:100% !important;
  min-height:80vh;
  min-width:460px;
  overflow:visible;
  background-color:#ffffff;
}

.large #overlaycontainer .popcontainer .mediabox .mediaholder img,
.large #overlaycontainer .popcontainer .mediabox .mediaholder iframe,
.large #overlaycontainer .popcontainer .mediabox .mediaholder video
{
  display:block;
  width: 640px; /*100% !important; */
  min-height:60vh;
  height:100%;
  margin: 0px auto;
}
.large #overlaycontainer .popcontainer .mediabox .mediaholder iframe
{
  position:relative;
  width: 640px; /*100% !important; */
  min-height:80vh !important;
}
.large #overlaycontainer .popcontainer .mediabox .mediaholder img
{
  position:relative;
  min-height:320px;
  height:auto;
  width:100%;
  margin: 0px auto;
}
.large #overlaycontainer .popcontainer .mediabox .mediaholder img.landscape
{
  width:100%;
  height:auto;
  margin: 0px auto;
}
.large #overlaycontainer .popcontainer .mediabox .mediaholder img.portrait,
.large #overlaycontainer .popcontainer .mediabox .mediaholder img.square
{
  width: 460px;
  height:auto;
  margin: 0px auto;

  /*
  max-width: 460px;
  width: auto;
  min-height:80vh !important;
  margin: 0px auto;
  max-height:100%;
  */
}





.prevnextnav
{

}

#overlaycontainer .popcontainer .prevnextnav
{
  position:absolute;
  top:-30px;
  right:120px;
  /*
  position:relative;
  margin:0px auto;
  min-width:320px;
  width:48%;
  height:100%;
  */
}
.large #overlaycontainer .popcontainer .prevnextnav
{
  position:absolute;
  top:0px;
}
#prevmedia,
#nextmedia
{
  display:block;
  position:absolute;
  top:0px;
  width:64px;
  height:64px;
  z-index:99;
  border:none;
  background-color:transparent;
  content: '';
  cursor:pointer;
}

.small #overlaycontainer .popcontainer .prevnextnav
{
  position:absolute;
  top:-36px;
  right:80px;
}
.small #prevmedia,
.small #nextmedia
{
  width:36px;
  height:36px;
  background-size:cover;
  margin:0;
}

#prevmedia span,
#nextmedia span
{
  display:none;
}
#prevmedia
{
  left:-50px;
  background:url('../icons/arrow_icon_left_grey.png');
}
#nextmedia
{
  right:-50px;
  background:url('../icons/arrow_icon_right_grey.png');
}

.small #prevmedia
{
  left:-30px;
}
.small #nextmedia
{
  right:-30px;
}

#prevmedia:hover
{
  background:url('../icons/arrow_icon_left_blue.png');
}
#nextmedia:hover
{
  background:url('../icons/arrow_icon_right_blue.png');
}
/* image formats
#overlaycontainer .popcontainer .mediabox .mediaholder img
*/
.mediabox
{
  display:block;
  width:calc(100% - 30px);
}
.large .mediabox
{
  display:flex;
  justify-content: center;
  min-height:360px;
}


.mediabox .cover
{
  position:relative;
  width:calc(100% - 30px);
  display:block;
  background-color: #ffffff;
}

.large .mediabox .cover
{
  margin-top:-5px;
  padding:15px;
  min-width:280px;
}

.mediabox .cover img
{
  max-width:100%;
  height:auto;
  margin-bottom:10px;
}
.mediabox.display .cover
{
  position:relative;
  width:calc(100% - 30px);
}

.large .mediabox .cover img
{
  display:none;
}

.large .mediabox .cover img
{
  display: block;
  max-width:100%;
  height:auto;
  margin-bottom:10px;
}

.large .mediabox.display .cover
{
  position:absolute;
  left:15px;
  width:15%;
  height:auto;
  z-index:99;
}
.mediabox.display .cover .title h1
{
  font-size:1.1em;
  margin-bottom:10px;
}


.small .mediabox.display .cover,
.medium .mediabox.display .cover
{
  max-width:960px;
  margin:5px auto 30px;
}
.small .mediabox.display .cover img
{
  display:none !important;
}

#infoboxcontainer
{
  position:fixed;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  bottom:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:999;
  background-color:rgba( 225,225,225, 0.8);
}

#infoboxcontainer .outermargin
{
  position:relative;
  display:block;
  width:calc(100%-30px);
  max-width:640px;
  background-color:#fff;
}

#infoboxcontainer.intro .outermargin .topbox
{
  position:relative;
  width:100%;
  background-color: #C8CCD2;
}
#infoboxcontainer.collection .outermargin .topbox
{
  position:relative;
  width:100%;
 background-color: #00A3E8;
}
