/* theme global css properties set */

*
{
margin:0;
padding:0;
box-sizing: border-box;
}

html,
body
{
position:relative;
height:100%;
width:100%;
}

body
{
}

.screen-reader-text
{

}
#content
{
}

#loopcontainer .post img
{
  max-width:100%;
}
