#mainbar .outermargin
{
  display:flex;
  justify-content: space-between;
}

#mainbar .outermargin #logobox,
#mainbar .outermargin #mainmenubox
{
  flex: 1;
  text-align: left; 
}

#mainbar #mainmenubox #mainmenu nav .innerpadding div>ul.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
