
/* ---- .grid-item ---- */


#loopcontainer .post-artifact .innerpadding
{
  position:relative;
  padding:0;
}
#loopcontainer .post-artifact img.wp-post-image
{
  width:100%;
  height:auto;
}

#loopcontainer .post-artifact .overlay
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, .4);
  opacity: 0;
  text-align:center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#loopcontainer .post-artifact:hover .overlay,
#loopcontainer .post-artifact.hovered .overlay {
  opacity: 1;
}

#loopcontainer .post-artifact .overlay,
#loopcontainer .post-artifact .overlay a
{
  color:white;
}

#loopcontainer .post-artifact {

    /* max-width:403px; */

    width: calc(60% - 30px);
    margin:15px;
    /*
    -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   */

}

/* overview page - TODO check width for small screens .. */
#loopcontainer .post-artifact.logobox
{
  /* max-width:403px; */
  width: calc(50% - 30px);
}
#loopcontainer .post-artifact.panorama
{
  /* max-width:1096px; */
  width: calc(80% - 30px);/*80%; */
}
#loopcontainer .post-artifact.landscape
{
  /* max-width:403px; */
  width: calc(60% - 30px);
}
#loopcontainer .post-artifact.portrait
{
  /* max-width:268px; */
  width: calc(20% - 30px);
}
#loopcontainer .post-artifact.square
{
  /* max-width:268px; */
  width: calc(40% - 30px);
}
