

/* theme framework css properties set */



#logobox.site-logo .innerpadding a.site-logo img
{
    max-height:180px;
    height:auto;
    max-width:90%;
    width:auto;
}

.large #logobox.site-logo .innerpadding a.site-logo img
{
    max-height:280px;
}

@media only screen and (min-width: 760px) {

.outermargin
{
  max-width:1600px;
  width:100%;
  margin:0px auto;
}

.innerpadding
{
  padding:2vh;
  /*background-color:rgba(120,120,120,0.5);*/
}
.innerpadding h1,
.innerpadding h2,
.innerpadding h3
{
  display:block;
}

#page.site
{
  position:relative;
  min-height:100%;
  width:100%;
}


header# masthead.site-header

{

}
.large #header #mainbar .outermargin
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#header #mainbar .outermargin #logobox
{

}
#logobox.site-logo .innerpadding a.site-logo img
{
    max-height:280px;
    height:auto;
    max-width:420px;
    width:auto;
}
#header #mainbar .outermargin #primarymenubox.primary-navigation
{

}

#primarymenu nav .innerpadding .menu-mainmenu-container ul#menu-mainmenu.menu li.menu-item a
{

}




#content.site-content #primary.content-area
{

}
#content .outermargin #main
{
  /*
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  */
}

main#main.site-main #loopcontainer
{
}

.post,
.page,
.hentry
{
}

.post .innerpadding,
.page .innerpadding,
.hentry .innerpadding
{
}
.entry-header,
.entry-excerpt,
.entry-content
	{
		max-width:560px;
		margin:0px auto 15px;
    line-height:1.6em;
	}
.entry-content p
{
    padding:12px 0px;
}
main#main.site-main #sidebar
{
  min-width:240px;
}



footer.site-footer #footer .outermargin
{

}
footer.site-footer #footnotecontent .outermargin #footnote_copyright.column .innerpadding
{

}

}
